{{ $news_len := len (where .Data.Pages "Type" "news") }}
{{ if gt $news_len 0 }}
<section id="news" class="home-section">
    <div class="container">
        
        <!-- Section heading -->
        <div class="row">
            <div class="col-xs-12 col-md-12 section-heading">
                <h1><a href="{{.Site.BaseURL}}/news/{{if .Site.Params.uglyURLs}}index.html{{end}}">{{ with .Site.Params.news.title }}{{ . | markdownify }}{{ end }}</a></h1>
                {{ with .Site.Params.news.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
        </div>
        <div class="row row-eq-height">
        <!-- news -->
            {{ range first .Site.Params.news.count (where .Data.Pages "Type" "news") }}
                <div class="col-xs-12 col-md-4">
                    <!-- <div class="news-panel"> -->
                        {{ if .Content }}
                            <h3 class="article-title">{{ .Date.Format "2 Jan" }}</h3>
                        {{ else }}
                            {{ with .Params.external_link }}
                            <h3 class="article-title" itemprop="name">
                                <a href="{{ . }}">
                            </h3>
                            {{ end }}
                            {{ .Date.Format "2 Jan" }}
                        {{ end }}

                        {{ if .Params.summary }}
                            <p class="article-style" itemprop="articleBody">
                                {{ .Params.summary }}
                                {{ if .Truncated }}
                                <br>
                                <a href="{{ .Permalink }}">
                                        {{ with .Site.Params.posts.str_read_more }}{{ . | markdownify }}{{ end }}
                                </a>
                                {{ end }}
                            </p>
                        {{ else }}
                            {{ with .Params.description }}
                            <p class="article-style" itemprop="articleBody">
                                {{ . | markdownify}}
                            </p>
                            {{ end }}
                        {{ end }}
                    </div>
                <!-- </div> -->
            {{ end }}
        </div>

        <!-- Link to all news -->
        <!-- <div>
            {{ if gt $news_len .Site.Params.news.count }}
                <p class="view-all">
                    <a href="{{ .Site.BaseURL }}/news/{{if .Site.Params.uglyURLs}}index.html{{end}}">
                        {{ with .Site.Params.news.str_all }}{{ . | markdownify }}{{ end }}
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </p>
            {{ end }}
        </div> -->
    </div>
</section>
{{ end }}
